lesson_*/.ipynb*
lesson_*/__pycache__
lesson_14/data/*
lesson_16/ml*
lesson_21/logs*
lesson_21/results
lesson_21/Ama*
lesson_24/checkpoints
lesson_24/data
lesson_24/tb_logs
lesson_25/*.keras
lesson_25/*.h5
lesson_26/*.keras
lesson_26/data
lesson_30/data
lesson_30/model
lesson_35/my_awesome_model
lesson_39/ds*
lesson_39/src*
lesson_39/api*
.ropeproject
*.kate*
